* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  main {
    > *:not(*:last-child) {
      margin-bottom: 24px;
    }
    section:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

#TableUser {
  border: solid rgb(229, 229, 229) 1px;
  border-radius: 10px;
  overflow: hidden;
  #HeaderTable {
    display: grid;
    grid-template-columns: 60px 0.7fr 1fr repeat(3, 0.5fr);
    background-color: rgb(216, 216, 216);
    padding: 12px 24px;
    overflow: hidden;
  }

  #BodyTable {
    padding: 12px 24px;
    article {
      display: grid;
      align-items: center;
      grid-template-columns: 60px 0.7fr 1fr repeat(3, 0.5fr);
      > *:last-child {
        align-self: flex-end;
      }
    }
  }
}
